// @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;700;900&display=swap');

body {
    margin: 0; /* Remove the default margin around the body element */
}

// * {
//     outline: 1px solid red; /* Add a border for visual reference */
// }

#hero {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the inner div horizontally */
    align-items: center;
    width: 100%; /* Set a width on the outer div */
    height: 100vh; /* Set a height on the outer div */

    background: url(photocopy.jpg) 0 0 repeat;

    #inner {
        text-align: center;
    }
}


