@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$mePurple: #6610f2;
$mePurpleDark: #600de6;

*,
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

section {
    height: 100vh;
}

#hero {
    background: $mePurple;
    // position: relative;
    height: 100vh;
    nav {
        background: $mePurpleDark;
        height: 8vh;
        ul {
            margin: auto;
            li {
                display: inline;
            }
        }
    }
}
